.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--azul);
}

.logo{
  width: 150px;
}

.title {
  margin: 50px;
}

.input {
  display: none;
}

.custom_button {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.custom_button:hover {
  transform: scale(105%);
}

.export_button{
  background-color: rgb(204, 255, 212);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  font-weight: bold;
}

.select_cliente {
  background-color: transparent;
  text-align: center;
  color: white;
  border: 1px solid black;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px 10px 10px;
  z-index: 3;

  appearance: none; /* Para navegadores modernos */
  -webkit-appearance: none; /* Para navegadores baseados em WebKit */
  -moz-appearance: none; /* Para navegadores baseados em Gecko */
}

.select_cliente:hover {
  cursor: pointer;
}

.select_cliente option {
  background-color: black;
  position: relative;
}

.drop {
  width: 20px;
  height: 39px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: -20px;
  cursor: pointer;
  margin-right: 80px;
}

.drop img{
    width: 10px;
}


.valor {
  display: flex;
  margin-top: 30px;
}

.valor p {
  color: white;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
}

.valor p span {
  color: rgb(0, 255, 0);
}

.container_planilha {
  margin-top: 30px;
}

.planilha {
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  display: flex;
  width: 100%;
}

.header p {
  border: 1px solid black;
  padding: 10px;
  max-width: 200px;
  margin: 0;
  font-size: 0.7em;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.dias {
  width: 90px;
}

.valor_mot {
  width: 70px;
}

.total {
  width: 80px;
}

.nome {
  width: 200px;
}

.cpf {
  width: 100px;
}

.data {
  width: 75px;
}

.empresa {
  width: 200px;
}
